[submodule "dependencies/projectm"]
	path = dependencies/projectm
	url = git@github.com:projectM-visualizer/projectm.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
