[submodule "dependencies/projectm"]
	path = dependencies/projectm
	url = git@github.com:projectM-visualizer/projectm.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "presets/presets-cream-of-the-crop"]
	path = presets/presets-cream-of-the-crop
	url = https://github.com/projectM-visualizer/presets-cream-of-the-crop
